@model LT.SO.Site.Models.Account.ForgotPasswordModel

@{
    Layout = null;
    ViewData["Title"] = "Recuperar senha";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>LTSO | Página de Login</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />
    <link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="../assets/plugins/bootstrap/bootstrap-4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/plugins/font-awesome/5.1/css/all.css" rel="stylesheet" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" />
    <link href="../assets/css/style.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!--[if lt IE 9]>
        <script src="../assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <script>
        function getBaseUrl() {
            var re = new RegExp(/^.*\//);
            return re.exec(window.location.href);
        }
        var baseUrl = 'http://localhost:54384';
    </script>

    <script src="~/Scripts/Shared/Helpers.js"></script>

    <style>
        .pgLoadModal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) url('http://localhost:54384/images/loading32x32.gif') 50% 50% no-repeat;
        }

        body.loading {
            overflow: hidden;
        }

            /* a partir do momento em que o body estiver com a classe loading,  o modal aparecerá */
            body.loading .pgLoadModal {
                display: block;
            }
    </style>
</head>
<body class="pace-top">
    <!-- begin #page-loader -->
    <div class="pgLoadModal">Carregando...</div>
    <div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-container">
        <!-- begin login -->
        <div class="login">
            <!-- begin login-brand -->
            <div class="login-brand bg-inverse text-white">
                <img src="../assets/img/logo-white.png" height="36" class="pull-right" alt="" /> Recuperar Senha
            </div>
            <!-- end login-brand -->
            <!-- begin login-content -->
            <div class="login-content">
                @using (Html.BeginForm("RecuperarSenha", "Account", FormMethod.Post, new { @class = "form-input-flat", @id = "ForgotPasswordForm" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true);
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control input-lg", placeholder = "Usuário" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="row m-b-20">
                        <div class="col-lg-12">
                            <input type="button" value="Enviar e-mail" onclick="ForgotPassword.Methods.EnviarEmail();" class="btn btn-lime btn-lg btn-block">
                        </div>
                    </div>
                }
            </div>
            <!-- end login-content -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../assets/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="../assets/plugins/bootstrap/bootstrap-4.1.1/js/bootstrap.bundle.min.js"></script>
    <!--[if lt IE 9]>
        <script src="../assets/crossbrowserjs/html5shiv.js"></script>
        <script src="../assets/crossbrowserjs/respond.min.js"></script>
    <![endif]-->
    <script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="../assets/js/demo.min.js"></script>
    <script src="../assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();
            Demo.initThemePanel();
        });

        $(document).ready(function () {

            @if (ViewBag.Result != null)
            {
                foreach(var msg in ViewBag.Result?.Messages)
                {
                    @Html.Raw("Helpers.MessageValidation('"+ ViewBag.Result.MsgType + "', '"+ msg + "', '" + ViewBag.Result.CallBackUrl + "');");
                }
            }
        });
    </script>

    <script src="~/Scripts/Account/ForgotPassword.js"></script>

</body>
</html>